     span.name a{
        text-decoration: none;
        font-weight: bold;
        color: #4183c4;
        font-size: 14px;
        font-family: sans-serif;
        
        }
        span.name a:hover{
        text-decoration: underline;
        
        
        }
        
        span.description{
       color: #8c77a1;
       font-size: 14px;
       font-family: sans-serif;
            
        }
        
        span#icon_repos{
       margin-top: 5px;
       float: left;
        }
        
     
      div.content{
      padding: 8px;
      border: 1px solid #e5e5e5;
     background: #fff;
        
        
      }
     div.content ul{
      list-style: none;
      margin: 0px;
      padding: 0px;
      margin-left: 20px;
        
        } 
